*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


header {
  height: 3rem ;
  width: attr(data-height %);
  position: fixed;
  top: 0;
  background-color: attr(data-bg type(<custom-ident>) );
  color: rgb(255, 252, 252);

  &::after {
    content: "salut" " " attr(data-name  raw-string);
  }
  
}


div {
  height: 150rem;
}