*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --theme:attr('theme');
  color-scheme: attr('theme' type(*));
}

:root {
  /* color-scheme:light dark only dark only light */
}

section {
  height: 4rem;
  width: 4rem;
  background-color: light-dark(blue,white);
}

h1 {
  background:linear-gradient(10deg,green,yellow);
  color: transparent;
  background-clip: text;
}

